<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row mb-3">
        <div class="col-8 offset-2">
             <h3>location details :</h3>
        </div>
    <div class="col-6 offset-2"> 
        <img src="<%= listing.image %>" class="card-img-top show-image" alt="listing_image">
        <div class="card-body">
            <p class="card-tittle"><%= listing.title %></p> 
        </div>
    </div>
        <p><%= listing.title %></p>
        <p><%= listing.description %></p> 
        <p>&#8377;<%= listing.price.toLocaleString('en-IN') %></p>
        <p><%= listing.location %></p> 
        <p><%= listing.country %> </p>
        <div class="row row-cols-2 mt-3 ">
        <a class="btn edit-btn col-1 " href="/listings/<%= listing._id %>/edit">edit</a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn delete-btn col-2 " type="submit">delete</button>
        </form>
    </div>   
</div>    
</body>